In [4]:
import pandas as pd

In [5]:
# sheet_name - название листа , r - когда передаем ковычки он не воспринимает формат, либо двойной \\ , либо r
data = pd.read_excel(r"C:\Users\Alex\Desktop\Владислав\Python\test_v1\table2.xlsx", sheet_name="table1")

In [7]:
data.head()

,Год,Старый код,Старое наименование,Новый код,Новое наименование,Тип изменений,План 2022,Уточненный план 2022,Факт 2022
0,2023,11020100000000,Мероприятие 1. Приобретение иммунобиологическ...,11010100000000,Приобретение иммунобиологических лекарственных...,Изменение 1 к 1,NaN,NaN,NaN
1,2023,011030100000000,Мероприятие 1. Оснащение оборудованием государ...,`011020100000000,Оснащение оборудованием государственных учреж...,Изменение 1 к 1,NaN,NaN,NaN
2,2023,011050100000000,Мероприятие 1. Проведение капитального ремонта...,016010100000000,Проведение капитального ремонта в государствен...,Объединение,NaN,NaN,NaN
3,2023,011070100000000,Мероприятие 1.Обеспечение граждан лекарственны...,011030100000000,Обеспечение граждан лекарственными препаратами...,Изменение 1 к 1,NaN,NaN,NaN
4,2023,011070400000000,Мероприятие 4. Организация обеспечения отдельн...,011030200000000,Организация обеспечения отдельных категорий гр...,Изменение 1 к 1,NaN,NaN,NaN

In [9]:

# Исключаем столбцы: 
data.columns

Index(['Год', 'Старый код', 'Старое наименование', 'Новый код',
       'Новое наименование', 'Тип изменений', 'План 2022',
       'Уточненный план 2022', 'Факт 2022'],
      dtype='object')

In [10]:
delete_columns = [
    'План 2022',
    'Уточненный план 2022', 
    'Факт 2022'
]
# ~ - отрицвние
columns = data.columns[~data.columns.isin(delete_columns)]

In [11]:
data[columns]

,Год,Старый код,Старое наименование,Новый код,Новое наименование,Тип изменений
0,2023,11020100000000,Мероприятие 1. Приобретение иммунобиологическ...,11010100000000,Приобретение иммунобиологических лекарственных...,Изменение 1 к 1
1,2023,011030100000000,Мероприятие 1. Оснащение оборудованием государ...,`011020100000000,Оснащение оборудованием государственных учреж...,Изменение 1 к 1
2,2023,011050100000000,Мероприятие 1. Проведение капитального ремонта...,016010100000000,Проведение капитального ремонта в государствен...,Объединение
3,2023,011070100000000,Мероприятие 1.Обеспечение граждан лекарственны...,011030100000000,Обеспечение граждан лекарственными препаратами...,Изменение 1 к 1
4,2023,011070400000000,Мероприятие 4. Организация обеспечения отдельн...,011030200000000,Организация обеспечения отдельных категорий гр...,Изменение 1 к 1
...,...,...,...,...,...,...
1142,2023,186030100000000,Строительство (реконструкция) автодромов,186020100000000,Строительство (реконструкция) автодромов,Изменение 1 к 1
1143,2023,187010100000000,Обеспечение деятельности Министерства строител...,187010100000000,Обеспечение деятельности органа государственно...,Изменение 1 к 1
1144,2023,187010200000000,"Субсидии профсоюзным организациям, созданным в...",187010200000000,Проведение культурно-массовых и физкультурно-о...,Изменение 1 к 1
1145,2023,187010600000000,Обеспечение деятельности государственного казе...,187020100000000,Обеспечение деятельности государственного казе...,Изменение 1 к 1
1146,2023,187010900000000,Уплата налога на имущество организаций по объе...,187010300000000,Уплата налога на имущество организаций по объе...,Изменение 1 к 1

In [12]:
data2 = pd.read_excel(r"C:\Users\Alex\Desktop\Владислав\Python\test_v1\table2.xlsx", sheet_name="table2")

In [13]:
data2.head()

,ИНН,КПП,КВСР,ФКР,КЦСР,КВР,ЭКР,ТипСредств,Мероприятие,СубКосгу,...,Направление,КЭСР,СБР УТВЕРЖДЕНО,СБР на первый год,СБР на второй год,CБР на третий год,ЗаконНаПервыйГод,ЗаконВторойГод,ЗаконТретийГод,Расход с учетом возврата
0,5.000001e+09,502401001.0,825.0,909.0,0110201000,244.0,341,10100.0,011020100000000,0.0,...,0.0,341.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.713076e+08
1,5.000001e+09,502401001.0,825.0,909.0,0110201000,244.0,341,10100.0,011020100000000,0.0,...,0.0,341.0,316342000.0,371308000.0,316342000.0,316342000.0,371342000.0,316342000.0,316342000.0,0.000000e+00
2,5.000001e+09,502401001.0,825.0,909.0,0110201000,612.0,241,10100.0,011020100000000,0.0,...,0.0,341.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.613189e+07
3,5.000001e+09,502401001.0,825.0,909.0,0110201000,612.0,241,10100.0,011020100000000,0.0,...,0.0,341.0,0.0,36133000.0,0.0,0.0,26910000.0,0.0,0.0,0.000000e+00
4,5.000001e+09,502401001.0,825.0,909.0,0110301000,244.0,310,10100.0,011030100000000,0.0,...,0.0,310.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.568710e+08

In [14]:
data3 = pd.merge(data,data2, how = "left",left_on="Старый код", right_on="Мероприятие")

In [18]:
data3.to_excel("test_v3.xlsx")

In [19]:

data3 = pd.merge(data,data2, how = "inner",left_on="Старый код", right_on="Мероприятие")

In [20]:
data3.to_excel("test_v4.xlsx")

In [24]:
data4 = data.set_index("Старый код").join(data2.set_index("Мероприятие"),how = "inner")
data4.to_excel("test_v5.xlsx")